.container {
  margin: 0 auto;
  width: 720px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}
ul {
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    padding: 0;
    width: 710px;
    overflow: hidden;
    background-color: #f1f1f1;
}
nav{
  margin-left: 10px;
}

 li{
  display: inline-block;
  border-radius: 5px;
  background-color: #BDBDBD;
  margin: 5px 0px 5px -2px;
  text-align: center;
  vertical-align: middle;

}


.menu li a{
    display: block;
    border-radius: 5px;
    height: 20px;
    width: 123px;
    color: #000;
    padding: 8px 8px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
/*=============================*/


.submenu {
    display: block;
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    width: 139px;
}

.submenu li  {
    display: block;
    color: black;
    text-decoration: none;
    display: block;
}



.inicio:hover .submenu{
    visibility: visible;
}

