.container {
  margin: 0 auto;
  width: 768px;
}

header {
  background-color: black;
  width: 100%;
}

#logo {
  display: block;
  margin: 0 auto;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: gray;
  padding-bottom: 5px;
  padding-top: 5px;
}
li{
  margin-right: 84px;
  text-align: center;
  margin-left: 55px;
  display: inline!important;
}
a{
  color: white;
  text-decoration: none;
}
.footer{
  margin-top: 20px;
}
.content{
  margin-top: 20px;
}