*{margin:0; padding:0;}

body {
  background:#fffffa; 
}

header{
  width: 100%;
  overflow: hidden;
  background:#242525; 
  margin-bottom:0px; 
}
.wrapper {
  width: 150%;
  max-width:1000px;
  margin:auto;
  overflow:hidden;

}

header .logo {
  color:#f2f2f2;
  line-height: 10px;
  float:left;
}

header nav {
  float:right;
  line-height:10px; 
}

header nav a{
  display:inline-block;
  color:#fff;
  text-decoration: none;
  padding: 16px 30px;
  line-height:normal;
  font-size: 16px;
  font-weight:bold; 
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
  border-radius:50px; 

}

header nav a:hover{
  background:#5396FD;

  
}

.header2{
  position: fixed;
  height: 50px;
  opacity: 0.9;

}

.header2 .logo{
  line-height: 50px;
  font-size: 16px;

}

.header2 nav{
  line-height: 50px;
}

.contenido p{
  margin-bottom: 1em;
}

/*.contenido {
  padding-top:100px; 
}*/